@model Memorizer.Models.FlashCard

@{
    ViewData["Title"] = "Edit";
    var categories = ViewData["CategoryDropDownList"] as IEnumerable<Category>;
    // TODO: The Created On and Updated On dates need to be pulled from the database
    DateTime dateUpdatedOn = (DateTime)ViewData["UpdatedOn"];
    DateTime dateCreatedOn = (DateTime)ViewData["CreatedOn"];
}

<h1>Edit</h1>

<h4>FlashCard</h4>
<hr />
<div class="row">
    <div class="col-lg-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label">Please select a category</label>
                <select name="CategoryId" class="form-control" aria-label="Default select example" required>
                    <option value="@Model.CategoryId">Current: @categories.FirstOrDefault(c => c.Id == Model.CategoryId).Name</option>
                    @foreach (var category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                Created On: @dateCreatedOn.ToShortDateString()
                <input asp-for="CreatedOn" type="hidden" value="@dateCreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                Updated On: @dateUpdatedOn.ToShortDateString()
                <input asp-for="UpdatedOn" type="hidden" value="@DateTime.Now.Date" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
