@model Memorizer.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @*<h4>Category</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        
        <dt class="col-md-10">
            @*@Html.DisplayNameFor(model => model.FlashCards)*@
            Flash Cards in the Category:
        </dt>
            <dd class="col-md-10 pt-4">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Card ID</th>
                            <th>Question</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.FlashCards)
                    {
                    <tbody>
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Question</td>
                        </tr>
                    </tbody>
                    }
                </table>
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
